:root {
	@apply accent-violet-700;
}

::-webkit-scrollbar { width: 0;}

body {
	font-size: 14px;
	font-family: 'Albert Sans';
	scrollbar-width: 0;
}

[role="img"] {
	@apply text-2xl;
}

.input {
	@apply flex space-x-2 items-center bg-stone-100 ring ring-stone-2 px-3 rounded-lg text-stone-500;
}

.input:hover {
	@apply ring-violet-700 text-violet-700;
}

.input:focus-within {
	@apply bg-violet-100 ring-2 ring-violet-700 text-violet-700;
}


input {
	@apply flex-1 bg-transparent focus:outline-none text-black;
}

.btn {
	@apply flex item-center justify-center p-3 rounded-lg;
}

.btn-primary {
	@apply bg-violet-900 text-white;
}

.btn-primary:disabled {
	@apply bg-slate-300 text-black/20;
}

[aria-pressed="true"] {
	@apply border-violet-700 bg-violet-100;
}

.select__button {
	@apply flex items-center bg-white p-3 border rounded-md space-x-2;
}

.select__button:focus {
	@apply border-violet-700 bg-violet-100;
}

.select__button p {
	@apply flex-1 flex;
}

.select__button p:last-child {
	@apply flex-none text-slate-500;
}

[aria-pressed="false"] {
	@apply bg-white;
}

.toggle__button {
	@apply flex space-x-2 items-center p-3 border rounded-md cursor-pointer;
}

.progress {
	@apply  border-3 !border-t-transparent animate-spin rounded-full;
}

.progress-primary {
	@apply border-violet-900;
}

.progress-inverse {
	@apply border-white;
}